body{
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 12px;
}

/*PAGE STRUCTURE */
div#header{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 100%;
    display: table;
    background: black;
}

div#menu{
    position: absolute;
    top: 30px;
    left: 0px;
    height: 40px;
    width: 100%;
    display: table;
    table-layout:fixed;
    border-spacing: 40px 0px;
    background: black;
    font-size: 20px;
}


div#content{
    position: absolute;
    top: 130px;
    left: 50px;
    right: 50px;
}

div#footer {
    position: absolute;
    bottom: 20px;
    left: 50px;
    right: 50px;
    height: 30px;
    border-top: 1px solid #ccc;
}

/* HEADER */
.maintitle{
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.welcome{
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-right: 20px;
    color: white;
    font-weight: normal;
    font-size: 12px;
}

.welcome a:link, .welcome a:visited{
    color: white;
}

div#menu > li {
    display: table-cell;
    vertical-align: middle;
    border: 0px solid #bbb;
    text-align: center;
    font-weight: bold;

}

div#menu li a{
    color: white;
}

div#menu li ul{
    display:none;
    position:absolute;
    margin:0;
    padding: 10px 10px 5px 10px;
    list-style: none;
    border-right: 1px dashed #ccc;
    border-left: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
    background: white;
    z-index: 1;
    top: 100%;
    width: 7%;
}

div#menu li ul li a{
    color: black;
    font-size: 15px;
}

div#menu li:hover ul{
    display: block;
    overflow: hidden;
}

/* LINK */
a:link, a:visited{
    color: #369;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/* TABLE */
table{
    border-collapse: collapse;
}
td, th {
    line-height: 18px;
    border-bottom: 1px solid #eee;
    vertical-align: top;
    padding: 5px 15px;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}